body{
    background-color: #3A4A4F;
}
h1{
    color: $primary;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
}
a{
    text-decoration: none;
}

.header{
    background-color: $primary;
    padding: 1rem;
    margin-top: 2rem;

    .nav li a{
        font-size: 1.5rem;
        color: $secondary
    }
}

.sidebar, .main{
    background-color: $primary;
    padding: 1rem;
    border-top: 5px solid $secondary;
}
.main_section .container{
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "sidebar_left_one   main  sidebar_right_one"
                         "sidebar_left_two   main  sidebar_right_two"
                         "sidebar_left_two   main  sidebar_right_three";
}
.sidebar_left_one{
    grid-area: sidebar_left_one ;
}
.sidebar_left_two{
    grid-area: sidebar_left_two;
}
.main{
    grid-area: main;
}
.sidebar_right_one{
    grid-area: sidebar_right_one;
}
.sidebar_right_two{
    grid-area: sidebar_right_two;
}
.sidebar_right_three{
    grid-area: sidebar_right_three;
}
h2{
    font-size: 2rem;
}
p{
    line-height: 1.5;
    margin-top: 1rem;
}
a{
    color: red;
    margin-top: 1rem;
}
.graph_img{
    width: 30%;
    display: block;
    margin: auto;
    margin-top: 1rem;
}
.sidebar_left_one a{
    margin-top: 2rem;
    display: block;
}
.sidebar_left_two a{
    display: block;
    margin-top: 5rem;
}
.cat_img{
    width: 100%;
    border-radius: 50%;
    margin-top: 4rem;
    border: 1px solid black;
}
.main p{
    margin-top: 3rem;
}
.main a{
    margin-top: 6rem;
    display: block;
}
.sidebar_right_one a, .sidebar_right_two a, .sidebar_right_three a{
    margin-top: 1rem;
    display: block;
}
.main_section{
    margin-top: 2rem;
}
.sidebar_right_two h2{
    background-color: red;
    color: $primary;
    place-self: start ;
}


@media screen and (max-width:768px) {
    html{
        font-size: 12px;
    }

    .main_section .container{
        display:  grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "sidebar_left_one  sidebar_right_one"
                             "sidebar_left_two  sidebar_right_two"
                             "sidebar_left_two    sidebar_right_three"
                             "main main";
    }
    .container{
        width: 90%;
    }
}

@media screen and (max-width:360px) {
    html{
        font-size: 8px;
    }

    .main_section .container{
        display:  grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas: "sidebar_left_one"
                             "sidebar_left_two "
                             "sidebar_right_one"
                             "sidebar_right_two "
                             "sidebar_right_three"
                             "main ";
    }

}