body{
    font-family: $font;
}
*, *::before, *::after{
    box-sizing: border-box;
}

.container{
    max-width: 1620px;
    width: 100%;
    margin: auto;
    border: 1px solid red;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
html{
    font-size: 16px;
}